main {
    background: url(/images/landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

section > hr {
    color: #00B172;
}

footer {
    background-color: #00B172;
    color: white;
}

/* footer hr {
    color: white;
} */

/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
